.task-column {
    display: inline-block;
    background-color: #dfe3e6;
    border-radius: 4px;
    width: 314px;
    height: 100%;
    padding: 0 8px 0 8px;
    margin: 0 8px 0 8px;
    vertical-align: top;

    .task-column__title {
        padding: 8px;
    }
    .task-column__list {
        overflow-y: auto;
        overflow-x: hidden;
        padding: 8px;
    }
    .task-column__footer {
        padding: 8px;
        .task-column__new-task {
            color: #6b808c;
        }
    }
}